<% if @events.count > 0 %>
<h4 class="control-label">Browse All Events</h4>
<% @events.each do |event| %>
<% if !event.owners.include?(current_acct) %>
<a href="<%= dashboard_viewEvent_path %>?event_id=<%= event.id %>">
	<table style="width: 100%; border: 4px solid <% if event.participants.include?(current_acct) %>green<% else %>red<% end %>; padding: 20px;">
		<% event.attrs.each do |attribute| %>
		<tr>
			<td style="width: 30%;"><label class="control-label">Event <%= attribute.name %></label></td>
			<td><label class="control-label"><%= attribute.value %></label></td>
		</tr>
		<% end %>
		<tr>
			<td style="width: 30%;"><label class="control-label">Event Type</label></td>
			<td><label class="control-label"><%= event.ttype %></label></td>
		</tr>
		<tr>
			<td style="width: 30%;"><label class="control-label">Event Privacy Type</label></td>
			<td><label class="control-label"><%= event.privacy_type %></label></td>
		</tr>
		<% if !event.capacity.nil? && !event.capacity.zero? %>
		<tr>
			<td style="width: 30%;"><label class="control-label">Event Capacity</label></td>
			<td><label class="control-label"><%= event.capacity %></label></td>
		</tr>
		<% end %>
		<tr>
			<td style="width: 30%;"><label class="control-label">Event Start Date</label></td>
			<td><label class="control-label"><%= event.start_date.strftime("%A, %d %b %Y") %></label></td>
		</tr>
		<tr>
			<td style="width: 30%;"><label class="control-label">Event End Date</label></td>
			<td><label class="control-label"><%= event.end_date.strftime("%A, %d %b %Y") %></label></td>
		</tr>
	</table>
</a>
<% end %>
<% end %>
<hr>
<% end %>